* {
    box-sizing: border-box;
}
body {
    margin: 0;
}
nav {
    background: lightgray;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}
nav a {
    text-decoration: none;
    color: black;
    font-family: Verdana;
    display: inline-block;

}
nav a:hover {
    background: blue;
}
