body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Ubuntu, sans-serif;
}
.message-info{
    color: darkslateblue;
    height: 30px;
    padding-top: 10px;
    padding-bottom: 5px;
    padding-left: 10px;
    margin:10px;
    border: lightgray solid;
    border-radius: 10px;
    background-color:mediumpurple ;
}
.message-success{
    color:  green;
    height: 30px;
    padding-top: 10px;
    padding-bottom: 5px;
    padding-left:10px;
    margin:10px;
    border: lightgray solid;
    border-radius: 10px;
    background-color:darkseagreen ;
}
.message-warning{
    color : saddlebrown;
    height: 30px;
    padding-top: 10px;
    padding-bottom: 5px;
    padding-left: 10px;
    margin:10px;
    border: lightgray solid;
    border-radius: 10px;
    background-color:lightgoldenrodyellow ;
}
.message-error{
    /*background:#0fb784 url()1 1 no-repeat;*/
    color: darkred;
    height: 30px;
    padding-top: 10px;
    padding-bottom: 5px;
    padding-left: 10px;
    margin:10px;
    border: lightgray solid;
    border-radius: 10px;
    background-color:lightpink ;
}